.container {
    position: absolute;
    bottom: 0.8%;
    left: 3.85%;
}

.box {
    margin-left: 4px;
    display: inline-block;
    width: 30px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.616);
    border-radius: 5px;
    border: rgb(255, 255, 255) 2px solid;
    box-shadow: 0px 2px 0px 3px rgba(0, 0, 0, 0.719);
}

.vida {
    position: sticky;
    margin-top: 40px;
    transform: rotatex(180deg);
    transform-origin: top;
    width: 30px;
    height: 100%;
    border-radius: 3px;
    background-color: rgb(248, 60, 60);
}

.shield {
    position: sticky;
    margin-top: 40px;
    transform: rotatex(180deg);
    transform-origin: top;
    width: 30px;
    height: 100%;
    border-radius: 3px;
    background-color: rgb(36, 40, 255);
}

.hunger {
    position: sticky;
    margin-top: 40px;
    transform: rotatex(180deg);
    transform-origin: top;
    width: 30px;
    height: 100%;
    border-radius: 3px;
    background-color: rgb(189, 255, 134);
}

.thirst {
    position: sticky;
    margin-top: 40px;
    transform: rotatex(180deg);
    transform-origin: top;
    width: 30px;
    height: 100%;
    border-radius: 3px;
    background-color: rgb(39, 204, 245);
}

.stamina {
    position: sticky;
    margin-top: 40px;
    transform: rotatex(180deg);
    transform-origin: top;
    width: 30px;
    height: 100%;
    border-radius: 3px;
    background-color: rgb(228, 253, 82);
}

.o22 {
    position: sticky;
    margin-top: 40px;
    transform: rotatex(180deg);
    transform-origin: top;
    width: 30px;
    height: 100%;
    border-radius: 3px;
    background-color: rgb(176, 82, 253);
}

i {
    position: absolute;
    align-items: flex-end;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 0px rgb(0, 0, 0);
    text-align: center;
    z-index: 99;
}

.icono {
    margin-top: 12px;
    margin-left: 6.5px;
}