.container {
    position: absolute;
    bottom: 1%;
    left: 3.85%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 16%;
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2vh;
    height: 4vh;
    background-color: #0000009d;
    border-radius: 0.6vh;
    border: 0.2vh solid white;
    box-shadow: 0vh 0.2vh 0vh 0.3vh #000000b7;
    color: rgb(255, 255, 255);
    font-size: 1.7vh;
    z-index: 2;
}

.box i {
    z-index: 1;
}

.ic-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    border-radius: 0.3vh;
    z-index: -1;
}

.vida {
    background-color: #f83c3c;
}

.shield {
    background-color: #2428ff;
}

.hunger {
    background-color: #eb6d1a;
}

.thirst {
    background-color: #27ccf5;
}

.stamina {
    background-color: #dac71e;
}

.o22 {
    background-color: #b052fd;
}